/*
Project :One Page
Author  : Batuhan Nedim TEMEL
Date    : 18.10.2023
version : v.1
*/

/*################################################################*/
/* Root */
:root{
    --templateBgColor:rgb(31, 32, 33);
}


/*################################################################*/
/* Common Property */

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

html{
    font-size: 20px;
}

body{
    font-family: 'Manrope', sans-serif;
    line-height: 1.2;
    position: relative;
}

a{
    text-decoration: none;
    
}

ul{
    list-style-type: none;
}

img{
    max-width: 100%;
    height: auto;
}

img:hover{
    cursor:pointer;
    opacity: 0.9;
    box-shadow: 10px 10px 10px 10px rgba(255,0,0,0.8);
    transition: 3s all;
}

i{
    font-size: 1.5rem;
}

p{
    color: #000!important;
}

/* Çok Önemli !!! clearfix */
.my_clearfix::after{
    content:"";
    display: block;
    clear: both;
}

.myHeading{
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    text-shadow: 0.4px -0.9px rgba(0,0,0,0.9);
    opacity: 0.7;
}

/* My Special Size */
.fsize1{
    font-size: 1rem; /* 20*1 */
}

.fsize2{
    font-size: 2rem; /* 20*2 */
}

.fsize3{
    font-size: 3rem; /* 20*3 */
}

.fsize4{
    font-size: 4rem; /* 20*4 */
}

/* line-clamp CSS3 */
.line-clamp4{
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    overflow:hidden;
}

.line-clamp5{
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    display: -webkit-box;
    overflow:hidden;
}

.line-clamp8{
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;
    display: -webkit-box;
    overflow:hidden;
}

.line-clamp10{
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 10;
    display: -webkit-box;
    overflow: hidden;
}

.line-clamp15{
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 15;
    display: -webkit-box;
    overflow: hidden;
}

.line-clamp20{
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 20;
    display: -webkit-box;
    overflow: hidden;
}

/*################################################################*/

/* Navbar */
.dark_mode{
    background-color: var(--templateBgColor);
    color: #fff;
}

/* Header */
header{
    background-image: url("./img/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: -1;
    height: 80vh;
    padding-top: 4rem;
}

/* Tags */
#tags{
    margin-left: 20rem;
}

/* user_id */
#user_id{
    font-size: 2rem;
}

/* Messages */
#messages{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
#messages i{
    font-size: 5rem;
    color: #00f;
}

#messages> .container > .row> .text-center> p{
    color: #000!important;
}

/* Parallax */
#parallax{
    background-color: transparent;
    background-image: url("./img/parallax.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 35rem;
    padding: 2rem;
    background-attachment:fixed;
}

#parallax h2,p{
    color: #fff!important;
}

/* Newspaper */
#newspaper{
    height: 30rem;
    padding: 2rem;
}

#newspaper p{
    color: #000!important;
    text-align: justify;
}

#blog{
    background-color: #b5b8ff;
}

/* Footer */
footer{
    min-height: 10rem;
    width: auto;
}

/* backtotop */
#back_top{
    position: fixed;
    display: block;
    right: 3px;
    bottom: 2px;
}

#back_top:hover{
    opacity: 0.9;
}



